@charset "UTF-8";
/* fast format to set up basic desktop structure with one column of content */
/* fast format to set up basic desktop structure with two columns of content */
/* mixins for building image / video galleries */
/* Formatting for links + buttons */
:any-link {
  text-decoration: none;
  color: black;
}

main :any-link {
  text-decoration: underline;
}

.inputButton {
  padding: 10px;
  background-color: black;
  color: white;
  margin: 10px;
}

/* Formatting for internal navigation, only on select pages and only desktop-view */
.internalNav {
  position: fixed;
  right: 2%;
  top: 40%;
}
.internalNav :any-link:hover {
  font-weight: bold;
}

.writing__nav {
  font-size: small;
}
.writing__nav li {
  margin-bottom: 15px;
}

/* Gallery-specific formatting - including assigning grid area */
#galleryIe, #gallerySeat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

#gallerySeat {
  grid-template-areas: "seatPic1 seatPic1" "seatPic2 seatPic3";
}

#seatPic1 {
  grid-area: seatPic1;
}

#seatPic2 {
  grid-area: seatPic2;
}

#seatPic3 {
  grid-area: seatPic3;
}

#galleryOhMyDog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  align-items: center;
  justify-items: center;
  grid-template-areas: "ohMyDogPic1 ohMyDogPic1" "ohMyDogPic2 ohMyDogPic3";
}

#ohMyDogPic1 {
  grid-area: ohMyDogPic1;
  width: 70%;
  margin: auto;
}

#ohMyDogPic2 {
  grid-area: ohMyDogPic2;
}

#ohMyDogPic3 {
  grid-area: ohMyDogPic3;
}

#galleryMyself {
  width: 100%;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, fr);
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  grid-template-areas: "myself1 myself1 myself1 myself2 myself2 myself2" ". myself3 myself3 myself3 myself3 ." "myself4 myself4 myself4 myself5 myself5 myself5";
}

#myself1 {
  grid-area: myself1;
}

#myself2 {
  grid-area: myself2;
}

#myself3 {
  grid-area: myself3;
}

#myself4 {
  grid-area: myself4;
}

#myself5 {
  grid-area: myself5;
}

/* Cust∫om spacer elements that can be used to add space/padding between elements when needed */
.spacer-1 {
  width: 100%;
  margin-bottom: 10%;
}

.spacer-2 {
  width: 100%;
  margin-bottom: 20%;
}

.spacer-3 {
  width: 100%;
  margin-bottom: 30%;
}

.spacer-4 {
  width: 100%;
  margin-bottom: 40%;
}

.spacer-5 {
  width: 100%;
  margin-bottom: 50%;
}

.spacer-6 {
  width: 100%;
  margin-bottom: 60%;
}

.spacer-7 {
  width: 100%;
  margin-bottom: 70%;
}

.spacer-8 {
  width: 100%;
  margin-bottom: 80%;
}

.spacer-9 {
  width: 100%;
  margin-bottom: 90%;
}

.spacer-10 {
  width: 100%;
  margin-bottom: 100%;
}

/* Form formatting. Some responsive code is included here that is form specific */
form {
  margin: auto;
  text-align: center;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formGroup label {
  margin-bottom: 12px;
}

.contact__main label {
  margin-right: 2%;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .formContainer label, .formContainer input, .formContainer textarea {
    display: block;
    margin-bottom: 5px;
  }
  textarea {
    width: 90%;
  }
  label {
    margin-right: 0;
  }
  input {
    margin: 0;
  }
}
@media (min-width: 1100px) {
  .desktopRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 10px;
  }
}
/* Artcile formatting including mobile-view overflow-scroll */
article {
  white-space: pre-wrap;
  font-family: "Times New Roman", Times, serif;
  background-color: #f4f5eb;
  overflow: scroll;
  height: 50vh;
  width: 80%;
  margin: auto;
  margin-bottom: 10%;
}
@media (min-width: 768px) {
  article {
    height: auto;
    overflow: auto;
  }
}

.writing__main h3 {
  width: 80%;
  margin: auto;
}

/* All formatting necessary to acheive the hidden-scroll effect on the flashFiction page, showing six word stories */
#carousel-1 .item {
  padding: 100px 1em;
}

.sixWordStory {
  margin-bottom: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.firstStory {
  margin-top: 45vh;
}

.lastStory {
  margin-bottom: 50vh;
}

.sixWordForeground {
  background-color: white;
  width: 100vw;
  height: 40vh;
  position: fixed;
  z-index: 1;
}

.sixWordForegroundTop {
  top: 0;
}

.sixWordForegroundBottom {
  bottom: 0;
}

.flashFiction__main p {
  position: relative;
  z-index: 2;
  left: 0;
  right: 0;
  text-align: center;
  top: 30vh;
}

.flashFiction__main .scrollArrow {
  position: fixed;
  bottom: 15vh;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

footer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer i {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

/* General layout formatting */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: auto;
  margin-bottom: 7vh;
}

img, video, iframe, .gallery {
  width: 100%;
  height: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.gallery img, video {
  margin-bottom: 5px;
}

/* main index formatting */
.work__intro {
  padding: 40vh 4% 15vh 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__intro h1 {
  margin-bottom: 15vh;
}

.workNode {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.workContent {
  padding: 10px;
}

/* contact page formatting */
.contact__main .contactIntro {
  margin: 10vh 2% auto 2%;
}
.contact__main .desktopRowContainer {
  width: auto;
}

/* writing page formatting */
.writing__main h1 {
  margin-top: 10vh;
}

/* aboutMe page formatting */
.aboutMe__main img {
  height: 350px;
  width: auto;
  border-radius: 50%;
  margin-top: 20%;
}

header {
  position: fixed;
  width: 100vw;
  height: auto;
  background-color: white;
  top: 0;
  z-index: 3;
}
header :any-link {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
header :any-link :hover {
  font-weight: bolder;
}
header .currentPage {
  text-decoration: underline;
}

.headerDesktopContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50vw;
  margin-top: 12px;
  justify-content: space-around;
  font-size: 1.2em;
  z-index: 4;
}

.header__logo {
  top: 200px;
  left: 15%;
  font-weight: bolder;
  font-size: 1.5em;
  z-index: 4;
}
.header__logo :hover {
  font-size: 1.1em;
}

/* formatting to allow responsive layout */
/* mobile-view specific formatting */
@media (max-width: 768px) {
  .headerDesktopContainer, .internalNav, #galleryOhMyDog, #galleryIe, #gallerySeat, #galleryMyself {
    display: none;
  }
  .aboutMe__main {
    width: 100vw;
  }
  .aboutMe__main img {
    width: 100vw;
    height: auto;
  }
}
/* medium-viewport specific formatting */
@media (min-width: 768px) {
  .navbar, .carousel {
    display: none;
  }
  .work__main, .aboutMe__main, .contact__main, .writing__main {
    width: 45vw;
    margin: auto;
    display: block;
  }
  .gallery {
    gap: 20px;
  }
  .workNode {
    margin-top: 20vh;
  }
  .writing__main h1 {
    margin-top: 20vh;
  }
  .aboutMe__main .column {
    display: flex;
    justify-content: center;
  }
}
/* large-viewport specific formatting */
@media (min-width: 1300px) {
  .aboutMe__main {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
  }
  .aboutMe__main .column {
    width: 45%;
    padding-top: 15vh;
  }
  .aboutMe__main h1 {
    margin-top: 5vh;
  }
  .contact__main {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
  }
  .contact__main .column {
    width: 45%;
    padding-top: 20vh;
  }
  .contact__main h1, .contact__main form {
    margin-top: 5vh;
  }
}
/* text specific formatting - some link-specific formatting can be found in the header section */
p, h1, h2, h3 {
  white-space: pre-wrap;
}

h1, h2, h3 {
  text-align: center;
}

header, h1 {
  font-family: "Questrial", sans-serif;
}

h1 {
  font-size: 2em;
}
@media (min-width: 768px) {
  h1 {
    font-size: x-large;
  }
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
}

@media (min-width: 768px) {
  h1 {
    font-size: xxx-large;
  }
}

h3, .work__intro h1 {
  font-family: "Montserrat";
  font-size: x-large;
}

/* simple image + logo animations, and pulsing arrow icon to invite user to scroll*/
@media (min-width: 768px) {
  .work__main img:hover {
    transform: scale(1.3);
  }
  .header__logo:hover {
    transform: skew(-5deg);
  }
}
img {
  transition: 0.5s;
}

.scrollArrow {
  animation-name: scrollAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes scrollAnimation {
  50% {
    transform: scale(1.3);
    fill: #5b2571;
  }
}

/*# sourceMappingURL=sassStyle.css.map */
