@media (min-width: 768px) {
    
    .navbar, .carousel {
        display: none;
    }
    .work__main {
        @include desktop1col;
    }

    .gallery {
        gap: 20px;
    }

   .workNode {
    margin-top: 20vh;
   }

   .aboutMe__main {
    @include desktop2col;
    .column {
        width: 45%;
        padding-top: 25vh;
    }
    h1 {
        margin-top: 10vh;
    }
   }

}


@media (max-width: 768px) {
    .headerDesktopContainer, .internalNav, #galleryOhMyDog, #galleryIe, #galleryMyself {
        display: none;
    }

   
}