@media (min-width: 768px) {
    
    .navbar, .carousel {
        display: none;
    }
    .work__main {
        @include desktop1col
    }

    .gallery {
        gap: 20px;
    }

   

}


@media (max-width: 768px) {
    .headerDesktopContainer, .internalNav, #galleryOhMyDog, #galleryIe, #galleryMyself {
        display: none;
    }

   
}