/* formatting to allow responsive layout */

/* mobile-view specific formatting */
@media (max-width: 768px) {
    .headerDesktopContainer, .internalNav, #galleryOhMyDog, #galleryIe, #galleryMyself {
        display: none;
    }

    .aboutMe__main {
        width: 100vw;
    }
    .aboutMe__main img {
        width: 100vw;
        height: auto;
    }

    #gallerySeat {
        display: block;
    }

   
}

/* medium-viewport specific formatting */
@media (min-width: 768px) {
    
    .navbar, .carousel {
        display: none;
    }
    .work__main, .aboutMe__main, .contact__main, .writing__main {
        @include desktop1col;
    }

    .gallery {
        gap: 20px;
    }

   .workNode {
    margin-top: 20vh;
   }

   .writing__main h1 {
    margin-top: 20vh;
   }

   .aboutMe__main .column {
    display: flex;
    justify-content: center;
   }


}


/* large-viewport specific formatting */
@media (min-width:1300px) {
    .aboutMe__main, .contact__main {
        @include desktop2col;
    }

    .aboutMe__main img {
        margin-top: 0;
    }
}




