/* Gallery-specific formatting - including assigning grid area */

#galleryIe {
    @include gallery-2col-2row;
}



#gallerySeat {
    @include gallery-2col-2row;
    grid-template-areas: 
    "seatPic1 seatPic1"
    "seatPic2 seatPic3"
    ;
}

#seatPic1 {
    grid-area: seatPic1;
}

#seatPic2 {
    grid-area: seatPic2;
}

#seatPic3 {
    grid-area: seatPic3;
}



#galleryOhMyDog {
    
    @include gallery-2col-2row;
        grid-template-areas:
        "ohMyDogPic1 ohMyDogPic1"
        "ohMyDogPic2 ohMyDogPic3"
        ;
}

#ohMyDogPic1 {
    grid-area: ohMyDogPic1;
    width:70%;
    margin: auto;
}

#ohMyDogPic2 {
    grid-area: ohMyDogPic2;
}

#ohMyDogPic3 {
    grid-area: ohMyDogPic3;
}




#galleryMyself {
    width: 100%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, fr);
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    grid-template-areas: 
    "myself1 myself1 myself1 myself2 myself2 myself2"
    ". myself3 myself3 myself3 myself3 ."
    "myself4 myself4 myself4 myself5 myself5 myself5";
}

#myself1 {
    grid-area: myself1
}

#myself2 {
    grid-area: myself2
}

#myself3 {
    grid-area: myself3
}

#myself4 {
    grid-area: myself4
}

#myself5 {
    grid-area: myself5
}