/* All formatting necessary to acheive the hidden-scroll effect on the flashFiction page, showing six word stories */


#carousel-1 .item {
    padding:100px 1em;
 }

 .sixWordStory {
    margin-bottom: 20vh;
    margin-left: 5vw;
    margin-right: 5vw;
 }

 .firstStory {
    margin-top: 45vh;
 }

 .lastStory {
    margin-bottom: 50vh;
 }

 .sixWordForeground {
    background-color: white;
    width: 100vw;
    height: 40vh;
    position: fixed;
    z-index: 1;
 }

.sixWordForegroundTop {
    top:0;
}

.sixWordForegroundBottom {
    bottom:0;
    
}

.flashFiction__main {
    p {
        position: relative;
        z-index: 2;
        left: 0;
        right: 0;
        text-align: center;
        top: 30vh;
    }
   
}

.flashFiction__main .scrollArrow {
    position: fixed;
    bottom: 15vh;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}