@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

@mixin button {
    padding: 10px;
    background-color: black;
    color: white;
    margin: 10px;
}

/* fast format to set up basic desktop structure with one column of content */
@mixin desktop1col {
    width: 45vw;
    margin: auto;
    display: block;
}

/* fast format to set up basic desktop structure with two columns of content */
 @mixin desktop2col {
    width: 70vw;
    margin: auto;
    display:flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}


/* mixins for building image / video galleries */
@mixin gallery-2col-2row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
    justify-items: center;
}

@mixin gallery-3col-1row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}