@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

@mixin button {
    padding: 10px;
    color: $darkGray;
    margin: 10px;
}


@mixin desktop1col {
    width: 60vw;
    margin: auto;
}

 @mixin desktop2col {
    @include desktop1col;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}