p, h1, h2, h3 {
    white-space: pre-wrap; 
}


h1, h2, h3 {
    text-align: center;
    
}


header, h1 {
    font-family: 'Questrial', sans-serif;
}

h1 {
    font-size: 2em;
    @media (min-width: 768px) {
       font-size: x-large; 
    }
}



p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

h1 {
    @media (min-width: 768px) {
        font-size: xxx-large;
    }
}

h3, .work__intro h1 {
    font-family: 'Montserrat';
    font-size: x-large;
}

