p, h1, h2, h3 {
    white-space: pre-wrap; 
}


h1, h2, h3 {
    text-align: center;
    
}


header, h1 {
    font-family: 'Questrial', sans-serif;
}

h3, .intro h1 {
    font-family: 'Montserrat';
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

.workNode h1 {
    font-size: 2em;
}